.card__product {
  background: #ffffff;
  max-width: 20%;
  min-height: 692px;
  position: absolute;
  width: 100%;
	position: absolute;               
	top: 50%;    
	left:50%;                     
	transform: translate(-50%, -50%); 
	
	&:hover{
		background: #fff;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0 5px 6px rgba(0,0,0,.15), 0 3px 16px rgba(0,0,0,.07), 0 9px 12px rgba(0,0,0,.09);
    z-index: 3;
	}

	& .card__product-over{
		border-right: 1px solid rgba(0,0,0,.11);
    box-shadow: 0 0 0 rgba(0,0,0,.15), 0 0 0 rgba(0,0,0,.07), 0 0 0 rgba(0,0,0,.09);
    min-height: 324px;
    padding: 17px 18px;
    position: absolute;
    transition: .3s;
    width: 100%;
	}
}







